@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@font-face {
    font-family: "Namum pen script";
    src: url(../font/NanumPenScript-Regular.ttf);
}
body {
    background: #fff;
    font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
    font-size: 12px;
    color: #333;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 1000;
}
header > h1{
    padding: 12px 0px 0px 1%;
}
nav {
    margin: -32px 2% 0px auto;
    width: 700px;
}

/* arctic scroll */
.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.gnb > li > a {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}
/* 윈도우 스크롤값이 ??일때 헤더에 적용되는 서식 */
/* 메뉴, 로그인, 알람아이콘 글자색 변경 */
.on {
    color: #000 !important;
}

.on1{color: #AC162C!important;font-size: 1.1rem!important;}
.on2{color: #5581be!important;font-size: 1.1rem!important;}
.on3{color: #665543!important;font-size: 1.1rem!important;}
.on4{color: #a1c8f5!important;font-size: 1.1rem!important;}

/* 헤더배경서식 */
.h_on {
    background: rgba(255, 255, 255,.9) !important;
    border-bottom: 1px solid rgb(221, 220, 220);
    box-shadow: 0px 0px 3px 0px rgb(221, 220, 220);
}
.videowrapper {
    position: relative;
    width: 100%;
    height: 1450px;
}
.videowrapper video {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
}
.h_title{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-40%);
    text-align: center;
    animation: ani_title 10s infinite;
}
@keyframes ani_title{
    0%{top: 21%;}
    50%{top: 20%;}
    100%{top: 21%;}
}

.h_title h2{
    width: 1200px;
    text-transform: uppercase;
    display: block;
    font-size: 100px;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #737d83, 0px -2px 1px #fff;
    font-weight: 500;
    text-align: center;
    padding: 200px 200px;
    border-radius: 20px;
    letter-spacing: 3px;
}

.h_title h2 span{
    font-size: 28px;
    color: #fff;
    font-weight: 400;
}
.h_title h2 span:nth-of-type(2){
    font-size: 45px;
    font-family: 'Namum pen script';
    font-weight: 400;
    color: #fff;
    text-shadow: 0 8px 9px #8d9092, 0px -2px 1px #fff;

}

/* 마우스 휠 서식 */
.wheel{
    position:absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    font-size: 0;
    border-radius: 20px;

}
.wheel span{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background: #fff;
    border-radius: 0.1rem;
    animation: wheel 0.7s infinite;

}

@keyframes wheel {
    to {top: 0.6rem;}
}
/* About me 이미지 서식 */

.a_box{
    /* background: #f00; */
    position: relative;
    top: -1039px;
    height: 500px;
}
.p_box{
    width: 1400px;
    position: absolute;
    top: 490px;left: 50%;
    transform: translateX(-50%)
}
.p_img{
    position: absolute;
    bottom: -13%;
    width: 100%;
    text-align: center;
}

/* About me 서식 */
.info{
    position: relative;
    left: 57%;
    bottom:0px;
    text-align: left;
    z-index: 10;
    line-height: 24px;
    opacity: 0; 
}
.info > h3{
    font-size: 24px;
    font-weight: bold;
    color: #2F95FA;
    line-height: 40px;
}
.info > ul > li{
    font-size: 14px;
    font-weight: 400;
    text-indent: 16px;
}
.info > ul > li > small{
    font-size: 12px;
    font-weight: 300;
}

.about_txt{
    position: absolute;
    right: -1%;
    bottom: 50%;
    
}
.about_txt p{
    font-size: 75px;
    font-weight: bold;
    color: rgba(214, 213, 213, 0.5);
    transform: rotate(90deg);
}

/* 프로필 사진 */
.photo{
    position: absolute;
    left: 22%;
    height: 300px;
    opacity: 0;
}


/* 스킬바 서식 */

.skill{
    position: relative;
    bottom: 130px;
    left: 21%;
    line-height: 30px;
    display: flex;

}
.skill > h3{
    font-size: 24px;
    font-weight: bold;
    color: #2F95FA;
    line-height: 40px;
    padding-right: 10px;
}
.skill ul{
    padding-right: 100px;
}
.skill ul > li{
    width: 250px;
    font-size: 0.9rem;
    line-height: 30px;
    border: 1px solid #2F95FA;
    border-radius: 20px;
    height: 20px;
    margin-bottom:15px;
    position:relative;
    left:90px;top:10px;
}
.sk01{
    position:absolute;
    top:-5px; left:-80px;
    color:#333;
    font-weight: bold;
}
.skill .bar{
    width:0.5%;height:20px;
    background-color: #2F95FA;
    border-radius:20px;
    color: #2F95FA;
}
.skill .ball{
    width:20px;height:20px;
    background-color:#fff;
    border: 1px solid #2F95FA;
    border-radius:50%;
    position:absolute;
    top:-1px;left:-1px;
}

/* 푸터서식 */
footer{
    color: #fff;
}
footer > address{
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}